header h1 {float: left; color: #00cbcc; font-family: Cursive; font-size: 40px;}
header ul {float: right; list-style: none; font-size: 20px;}
header ul li {float: right; margin: 14px;}
hr {clear: both;}
body {width: 1024px; margin: 0 auto;}
footer {text-align: center;}